/* Couleur texte */

body {
	margin-top: 70px;
	margin-bottom: 50px;
	color: black;
}

legend{
	color: black;
}

/* IMAGES */
.miniLogo {
	margin: 5px;
	max-height: 50px;
}

.avatar {
	max-width : 50px;
	max-height : 50px;
}

.gdeImage {/* Redimentionnement des images pour ne pas dépasser la page */
	max-width: 100%;
	max-height : 100%
}

.imageCarousel{
	max-height : 550px;
	margin : auto
}

/* Alignement et affichage */

.jumbotron {
	text-align: justify;
	border-width: 3px;
}

.marge{/* Ajout d'une marge en haut pour "decoler" de l'élément au dessus */
	margin-top: 10px;
}

.miniMarge{
	margin-top: 2px;
}

.cadrePerso{
	border: 2px outset black;
	border-radius: 5px;
	min-height : 100px;
	padding: 10px;
}

.aligneCentre{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.spot{
	min-height: 340px;
}

.topo{
	min-height: 200px;
}

/*Formulaires "clasiques" */
.formClassiq .wwgrp{
	display: flex;

}

.formClassiq .wwerr, .formClassiq .wwlbl, .formClassiq .wwctrl{
	margin: 10px;
}

/* Formulaires en lignes */
.formInLinePerso{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.formInLinePerso .wwgrp{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.label{
	color: black;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	min-height: 22px;
	min-width:150px;
	text-align : right;
}

/* Adaptations de la mise en page pour écrans plus petits */
@media screen and (max-width: 1200px)
{
	body {
		margin-top: 120px;
		margin-bottom: 75px;

	}
}

@media screen and (max-width: 992px)
{
	.formInLinePerso{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

@media screen and (max-width: 768px)
{
	body {
		margin-top: 70px;

	}
}

