/* Couleur texte */

body {
	margin-top: 70px;
	color: black;
}

legend{
	color: black;
}

/* IMAGES */
.miniLogo {
	margin: 5px;
	max-height: 50px;
}

/* Alignement et affichage */

.jumbotron {
	text-align: justify;
}

.marge{/* Ajout d'une marge en haut */
	margin-top: 10px;
}

.cadrePerso{
	border: 2px outset black;
	border-radius: 5px;
	min-height : 100px;
	padding: 10px;
}

/*Formulaires */
.wwgrp{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.wwctrl{
	flex: 1;
} 

.wwlbl{
	flex: 1;
	display: flex;
	justify-content :  flex-end;

}

/* Formulaires en lignes */
.formInLinePerso{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Label des formulaires*/
.label{
	color: black;
	font-weight: bold;
	font-size: 14px;
	text-align : right;
	min-width: 100%;
}

/* Adaptations de la mise en page pour écrans plus petits */
@media screen and (max-width: 768px)
{
	.formInLinePerso{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
}
